body{
    margin:0;
    padding:0;
    overflow: hidden;
}

.dropdown-menu{
    background: rgb(167, 167, 167);
}

.navbar{
    position: fixed;
    width:100%;
    z-index: 1;
}

.navbar-text{
    color: rgba(255, 255, 255, 0.75);
}

#info-bar{
    z-index: 0;
    margin-top: 55px;
    width: 100%;
    padding-left: 2em;
    position: absolute;
}

.col-2{
    background-color: rgb(233, 235, 235);
}

.life{
    color: red;
}