html, body {
    height: 100%;
}

.fill { 
    max-height: 100%;
    height: 100%;
    background-color: #394263;
}

#menu-container{
    background-color: black;
}

#project-title{
    font-size: 16em; 
}

.menu-button{
    font-size: 3em; 
    background-color: black;
    border-color: #C0C0C0;
    color: #C0C0C0;
}

.menu-text{
    color: #C0C0C0;
}